<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=HYD-F83WM53\SQLEXPRESS;Initial Catalog=ShopBridge;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="test" providerName="Systm.Data.SqlClient" connectionString="asjdksadjsakdjsadajdaksdjkasd"/>
  </connectionStrings>
  
</configuration>